<div class="container" style="padding-left:5%" ng-controller="listingController">
    <table class="table-curved" style="min-width: 100%">
        <thead>
        <th style="cursor:default; padding-left:1%"><h4>Item</h4></th>
        </thead>
        <tr style="font-size: large;" ng-repeat="(key,value) in item" ng-if="$index>0">
            <td style="padding-left:5%;padding-right: 5%;padding-bottom: 1%" >
                {{ key }}<input ng-change="change(this,item)" ng-model='selectedTd'  placeholder="{{ value }}"></input>
            </td>
        </tr>
    </table>
    <button class="btn" ng-click="click(item)" style="min-width: 100%;background:rgb(50, 60, 91);color:white;font-family: Monaco">Save</button>
</div>